.bigpic-container {
  background-image: url("/food.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  color: antiquewhite;
}

#nav1
{  
    /* background-color:#F00; whichever you want */
    opacity: 0.85;
    /* filter:(opacity=50); */
}

.raztegnat {
  display: flex;
  height: 80vh;
  background-color: rgba(239, 245, 248, 0.63);
  align-items: center;
  justify-content: center;
}